<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../exam.css">
    <title>Exam</title>
</head>
<body>
    <div class="topBar">
        <p class="header">QuestionWizz</p>
        <a href="/" style="margin-left: 50vw;"><p>Home</p></a>
        <a href="/login"><p>Login</p></a>
        <a href="/signup"><p>Signup</p></a>
    </div>

    <div class="sideBar">

        <div class="boxes">
            <% questions.forEach((question) => { %>
                <div class="box">
                </div>
            <% }) %>
        </div>
    </div>

    <% questions.forEach((question) => { %>
        <div class="question">
            <p class="question_text">
                Q] <%= question.question_text %>
            </p>
        </div>
    <% }) %>
</body>
</html>