<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css">
    <title>Home</title>
</head>
<body>
    <div class="hero">

        <div class="topBar">
            <p class="header">QuestionWizz</p>
            <a href="/"><p>Home</p></a>
            <a href="/login"><p>Login</p></a>
            <a href="/signup"><p>Signup</p></a>

        </div>
    </div>

</body>
</html>