@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    margin: 0vw 0vw 0vw 0vw;
    background-color: #fff7ef;
}

.topBar{
    display: flex;
    /* border-bottom: 1px solid #fff7ef; */
    font-family: 'Comfortaa';
    margin: 0vw auto 0vw auto;
    flex-direction: row;
    width: 100%;
    background-color: #5f7ff5;
}

.topBar a{
    text-decoration: none;
    font-family: 'Comfortaa';
    font-size: 1vw;
    color: #fff7ef;
    margin: 1.5vw 1vw 0vw 1vw;
    font-weight: 500;
}


.topBar .header{
    font-family: 'Bungee';
    font-size: 1.3vw;
    color: #d9ee5f;
    font-weight: 800;
    margin-left: 10vw;
}

.sideBar{
    position: fixed;
    width: 25vw;
    height: 38vw;
    margin-top: 0.5vw;
    background-color: #5f7ff5;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    height: fit-content;
    margin: 2vw auto 0vw auto;
    /* border: 1px solid black; */
}

.box{
    padding: 0.6vw;
    background-color: white;
    font-family: 'Comfortaa';
    font-size: 1vw;
    margin: 0.4vw;
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 10px;
}

.question{
    width: 71vw;
    height: fit-content;
    background-color: rgb(205, 205, 205);
    margin: 1vw 0vw 0vw 27vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.question_text{
    font-family: 'Comfortaa';
    font-size: 1.5vw;
    font-weight: 900;
    margin: 3vw;
    margin-bottom: 1.5vw;
}

.question form{
    margin: 3vw;
    margin-top: 1vw;
    font-family: 'Comfortaa';
    font-size: 1.3vw;
}

.question form input{
    margin-bottom:2vw ;
}

input{
    width: 1.5vw;
    height: 1.5vw;
    margin: 0vw 0vw 0vw -2vw;
}

ul{
    list-style: none;
    font-family: 'Comfortaa';
    font-size: 1vw;
}

li{
    margin: 0vw 0vw 1vw 2vw;
}

.question label{
    margin: 0vw 0vw 0vw 1vw;
}

.submit{
    margin: 1vw 0vw 2vw 28vw;
    font-family: 'Comfortaa';
    font-size: 1vw;
    padding: 0.5vw;
}

