@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


body{
    margin: 0vw 0vw 0vw 0vw;
    background-color: #fff7ef;
}

.hero{
    background-color: #5f7ff5;
    height: 40vw;
    width: 100%;
}

.topBar{
    display: flex;
    border-bottom: 1px solid #fff7ef;
    font-family: 'Comfortaa';
    margin: 0vw auto 0vw auto;
    flex-direction: row;
    width: fit-content;
}

.searchBar{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: fit-content; 
    height: fit-content;
    border-radius: 30px;
    margin: 1.5vw 0vw 0vw 20vw;
}

.searchBar input{
    width: 25vw;
    height: 3vw;
    border: none;
    border-radius: 30px;
    font-size: 1vw;
}

.searchBar input:focus{
    outline: none;
}

.searchBar input:focus::placeholder{
    color: transparent;
}

.searchBar svg{
    width: 1vw;
    height: 1vw;
    margin: 1vw;
}

.topBar a{
    text-decoration: none;
    font-family: 'Comfortaa';
    font-size: 1vw;
    color: #fff7ef;
    margin: 1.5vw 1vw 0vw 1vw;
    font-weight: 500;
}


.topBar .header{
    font-family: 'Bungee';
    font-size: 1.3vw;
    color: #d9ee5f;
    font-weight: 800;
    margin-left: 3vw;
}

.display{
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    width: 100%;
    
}

.display h3{
    font-family: 'Comfortaa';
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0px 0px 20px white;
    margin: 5vw 0vw 0vw 4vw;
}

.display p{
    font-family: 'Comfortaa';
    font-size: 1.3vw;
    color: white;
    width: 60vw;
    letter-spacing: 3px;
    margin: 5vw 0vw 0vw 4vw;
}

.display button{
    border: none;
    font-family: 'Comfortaa';
    font-size: 1vw;
    letter-spacing: 2px;
    width: fit-content;
    height: fit-content;
    padding: 1vw 2vw 1vw 2vw;
    text-align: center;
    border-radius: 10px;
    margin: 2vw 0vw 0vw 4vw; 
    cursor: pointer;
}

.display2{
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    width: 100%;
    background-color: #fff7ef;
    font-family: 'Comfortaa';
    border-bottom: 1px solid gray;
}

.display2 h3{
    font-family: 'Comfortaa';
    font-size: 2.5vw;
    font-weight: bold;
    color: #3a3a3a;
    letter-spacing: 3px;
    text-shadow: 0px 0px 20px grey;
    margin: 5vw 0vw 0vw 45vw;
    width: 50vw;
    text-align: right;
}

.display2 p{
    text-align: right;
    width: 60vw;
    letter-spacing: 3px;
    font-family: 'Comfortaa';
    font-size: 1.3vw;
    color: #3a3a3a;
    margin: 5vw 0vw 0vw 35vw;

}

.display2 button{
    border: none;
    font-family: 'Comfortaa';
    font-size: 1vw;
    letter-spacing: 2px;
    width: fit-content;
    height: fit-content;
    padding: 1vw 2vw 1vw 2vw;
    text-align: center;
    border-radius: 10px;
    margin: 2vw 0vw 0vw 60vw; 
    cursor: pointer;
}

.options{
    display: flex;
    flex-wrap: wrap;
    width: 76vw;
    /* border: 1px solid black; */
    margin: 20vw auto 10vw auto;
    height: fit-content;
}

.options a{
    text-decoration: none;
}

.option{
    width: 30vw;
    height: 15vw;
    background-color: #d9ee5f;
    margin: 2vw 4vw 2vw 4vw;
    border-radius: 20px;
    font-family: 'Comfortaa';
    padding-top: 1vw;
}

.paperName{
    font-family: 'Righteous';
    font-size: 2vw;
    color: #5f7ff5;
    font-weight: 900;
    margin: 2vw 0vw 1vw 2vw;
}

.paperDiff , .questionCount , .paperTopics{
    margin: 0vw 0vw 1vw 2vw;
    font-size: 1vw;
    font-weight: 800;
    color: black;
}


